div.main-container {
  width: 66vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.multi-column {
  grid-column: span 2;
}

.candidates-list-container {
  width: 100%;
  max-height: 60vh;
  height: auto;
  overflow: auto;
  display: flex;
  box-sizing: border-box;
}

mat-list {
  width: 100%;
  mat-list-item {
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
  }
}

button {
  text-transform: uppercase;
}
