<div class="main-container">
  <form *ngIf="thereAreCandidates || !creationModeActivated" (ngSubmit)="saveData()" autocomplete="off">
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title> {{ candidateFormTitle }} </mat-card-title>
        <mat-card-subtitle>{{ remainingCandidatesText }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Nombre del candidato/a</mat-label>
          <input autofocus [formControl]="nameFormControl" matInput placeholder="Ana Maria Nates" />
          <mat-hint>¿Como se llama el candidato/a?</mat-hint>
          <mat-error>Campo Requerido</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" mat-flat-button color="primary">
          {{ buttonText }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

  <ng-container *ngIf="candidates.length === 0; else candidatesAdded">
    <mat-card>
      <mat-card-content>
        <h3>¡Agrega un candidato!</h3>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #candidatesAdded>
    <mat-card [class.multi-column]="!thereAreCandidates && creationModeActivated">
      <mat-card-header>
        <mat-card-title>Candidatos Añadidos</mat-card-title>
      </mat-card-header>

      <div class="candidates-list-container">
        <mat-list role="list">
          <mat-list-item *ngFor="let candidate of candidates" role="listitem">
            <div>
              <span>{{ candidate.name }}</span>
              <button (click)="setupEditMode(candidate.name)" mat-icon-button>
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-card-actions>
        <button
          type="button"
          (click)="saveAllCandidates()"
          mat-flat-button
          [disabled]="thereAreCandidates"
          color="primary">
          confirmar
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
