<form (ngSubmit)="addCandidate()" autocomplete="off">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Agrega un candidato/a para la votación "{{ votingName }}" </mat-card-title>
      <mat-card-subtitle>{{ remainingCandidatesText }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Nombre del candidato/a</mat-label>
        <input [formControl]="nameFormControl" matInput placeholder="Ana Maria Nates" />
        <mat-hint>¿Como se llama el candidato/a?</mat-hint>
        <mat-error>Campo Requerido</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary">Agregar</button>
    </mat-card-actions>
  </mat-card>
</form>
