<div [ngSwitch]="votingStatus" class="main-container">
  <div *ngSwitchCase="'started'">
    <form *ngIf="currentVoting && currentVotingForm" [formGroup]="currentVotingForm" (ngSubmit)="vote()">
      <mat-card class="voting-container">
        <mat-card-header>
          <mat-card-title>{{ currentVoting.name }}</mat-card-title>
          <mat-card-subtitle>
            <p>{{ maxVotesMessage }}</p>
            <p>{{ remainingVotesMessage }}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [class]="candidatesContainerClass">
          <mat-checkbox *ngFor="let candidate of currentVoting.candidates" [formControlName]="candidate.name">
            {{ candidate.name }}
          </mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="primary" [disabled]="remainingVotes < 0">votar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <mat-card *ngSwitchCase="'finished'">
    <mat-card-content class="standard-container">
      <h3>¡Las votaciones ya terminaron!</h3>
    </mat-card-content>
  </mat-card>

  <mat-card *ngSwitchDefault>
    <mat-card-content class="standard-container">
      <h3>¡No hay votaciones creadas aun!</h3>
    </mat-card-content>
  </mat-card>
</div>
