div.main-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
