<form [formGroup]="currentVotingForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ currentVoting.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-checkbox *ngFor="let candidate of currentVoting.candidates" [formControlName]="candidate.name">
        {{ candidate.name }}
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="vote()" mat-button color="primary">Votar</button>
    </mat-card-actions>
  </mat-card>
</form>
