form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 66%;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button{
  text-transform: uppercase;
}