div.multiple-results-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.winner {
  background-color: green;
  color: white;
}

.looser {
  background-color: red;
  color: white;
}
